# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build output
dist/
build/
.output/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

**/routeTree.gen.ts
**/.content-collections

**/.netlify
**/.tanstack

**/pnpm-lock.yaml
**/package-lock.json
**/yarn.lock
**/bun.lockb
**/bun.lock
**/bun.lock.json
**/bun.lock.yaml
**/bun.lock.json
